.form-container {
  margin-top: 10px;
}

.form-container input {
  margin-top: 10px;
  width: 580px;
  height: 30px;
  border: 2px solid black;
  border-radius: 20px;
}

.input-section::placeholder {
  padding-left: 10px;
  margin-left: 10px;
}
.form-container button {
  margin-left: 18px;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: black;
  color: aliceblue;
  cursor: pointer;
}

.form-container button:hover {
  background-color: aliceblue;
  color: black;
  border: 2px solid black;
  font-weight: bold;
}
